.shiftDetails {
    background-color: white;
    height: 315px;
    width: 471.25px;
    margin: 5px 2.5px;
    display: flex;
    flex-wrap: wrap;
}

.upper-shiftDetails {
    width: 471.25px;
    height: 235.25px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}



.upper-shiftDetails-card {
    width: 157px;
    height: 235.25px;
}

#plan {
    color: green;
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

#complete {
    color: red;
    font-weight: 400;
    font-size: medium;
    text-align: center;
}

#targetAchieve {
    color: brown;
    font-size: larger;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

.lower-shiftDetails {
    width: 471.25px;
    height: 79.75px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.upper-shiftDetails-card td, th{
    padding: 5px;
    border: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.upper-shiftDetails-card td{
    /* padding-top: 30px; */
    border-right: 1px;
    border: 1px solid black;
    border-radius: 10px;
}

/* table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  } */

  table{
    margin: 3px 0px 5px 5px;
    height: 150px;
  }
