.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.App img {
  width: 150px;
  height: 50px;
}

.check-length{
  background-color: black;
  width: 1530px;
  height: 650px;
  margin: 10px;
  display: flex;
  justify-content:space-evenly;
}

.first-half{
  width: 765px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}

.second-half{
  width: 765px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
}


